@{
    Layout = null;
}

@model Employee;


<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/Admin/addEmployee.css" rel="stylesheet" />
</head>



<div class="form-container">
    <h1>اضافه موظف </h1>
    <form asp-controller="admin" asp-action="Addemployee" name="form1" method="post" enctype="multipart/form-data" class="Employee-form">
        <div asp-validation-summary="ModelOnly" class="error"></div> <!-- Add this line to display model-level errors -->
        <div class="arrow">
            <a asp-controller="Admin" asp-action="ViewAllEmployee" class="back">
                <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
            </a>
        </div>
        <div class="input-control">
            <label asp-for="@Model.EmployeeId" class="textlabel"></label>
            <input asp-for="@Model.EmployeeId" class="place" />
            <span asp-validation-for="@Model.EmployeeId" class="error"></span>
        </div>
        <div class="input-control">
            <label asp-for="@Model.EmployeeUserName" class="textlabel"> </label>
            <input asp-for="@Model.EmployeeUserName" class="place" />
            <span asp-validation-for="@Model.EmployeeUserName" class="error"></span>
        </div>
        <div class="input-control">
            <label asp-for="@Model.EmployeeName" class="textlabel"></label>
            <input asp-for="@Model.EmployeeName" class="place" />
            <span asp-validation-for="@Model.EmployeeName" class="error"></span>
        </div>
        <div class="input-control">
            <label asp-for="@Model.EmployeePassword" class="textlabel">  </label>
            <input asp-for="@Model.EmployeePassword" class="place" />
            <span asp-validation-for="@Model.EmployeePassword" class="error"></span>
        </div>
        <div class="input-control">
            <label asp-for="@Model.JobRole" class="textlabel"> </label>
            <select asp-for="@Model.JobRole" id="options" class="place">
                <option value="" disabled>--تحديد الدور الوظيفي--</option>
                <option value="4">الفني</option>
                <option value="2">المخازن</option>
                <option value="6">التكاليف</option>
            </select>
            <span asp-validation-for="@Model.JobRole" class="error"></span>
        </div>
        <div class="button-container">
           
            @* <input type="button" value="رجوع" onclick="history.back()" class="btn btn-secondary" /> *@
            <input type="submit" value="اضافه" class="btn btn-secondary" />
        </div>
    </form>
</div>

<script src="~/js/Admin/addEmployee.js"> </script>