@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{

    int jobRole = HttpContextAccessor.HttpContext.Session.GetInt32("JobRole") ?? 0;
    Console.WriteLine("JobRole: " + jobRole);
}

@{
    Layout = null;
}

@model ThothSystemVersion1.DataTransfereObject.EmployeeDTO;



<head>
    <link rel="icon" type="image/x-icon" href="/image/eye.jpg" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/Admin/addEmployee.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Home.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <title>ThoTh</title>
</head>

<div class="arrow">
    @{
        // admin
        if (jobRole == 0)
        {
            <a asp-controller="employee" asp-action="adminhome" class="back">
                <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
            </a>

        } // inventory manager
        else if (jobRole == 1)
        {
            <a asp-controller="employee" asp-action="inventoryManager" class="back">
                <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
            </a>
        }
        else if (jobRole == 2)
        {
            <a asp-controller="employee" asp-action="inventoryClerk" class="back">
                <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
            </a>
        }


    }
</div>

<div class="form-container">
    <h1>اضافه موظف </h1>
    @if (TempData["Success"] != null)
    {
        <div class="notification success">
            <div class="notification-content">
                <i class='bx bx-check-circle'></i> @TempData["Success"]

            </div>
            <input type="hidden" id="tempDataSuccess" value="true" />
            <div class="progress-bar success"></div>
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="notification error">
            <div class="notification-content">
                <i class='bx bx-error-circle'></i>
                <span>@TempData["Error"]</span>
            </div>
            <input type="hidden" id="tempDataSuccess" value="false" />

            <div class="progress-bar error"></div>

        </div>
    }
    <input type="hidden" id="hdnJobRole" value="@jobRole" />
    <form asp-controller="admin" asp-action="AddEmployee" name="form1" method="post" enctype="multipart/form-data" class="Employee-form">
        <div asp-validation-summary="ModelOnly" class="error"></div> <!-- Add this line to display model-level errors -->

        <div class="input-control">
            <label asp-for="@Model.EmployeeId" class="textlabel"></label>
            <input asp-for="@Model.EmployeeId" class="place" />
            <span asp-validation-for="@Model.EmployeeId" class="error"></span>
        </div>
        <div class="input-control">
            <label asp-for="@Model.EmployeeUserName" class="textlabel"> </label>
            <input asp-for="@Model.EmployeeUserName" class="place" />
            <span asp-validation-for="@Model.EmployeeUserName" class="error"></span>
        </div>
        <div class="input-control">
            <label asp-for="@Model.EmployeeName" class="textlabel"></label>
            <input asp-for="@Model.EmployeeName" class="place" />
            <span asp-validation-for="@Model.EmployeeName" class="error"></span>
        </div>
        <div class="input-control">
            <label asp-for="@Model.EmployeePassword" class="textlabel">  </label>
            <input asp-for="@Model.EmployeePassword" class="place" />
            <span asp-validation-for="@Model.EmployeePassword" class="error"></span>
        </div>
        <div class="input-control">
            <label asp-for="@Model.JobRole" class="textlabel"> </label>
            <select asp-for="@Model.JobRole" id="options" class="place">
                <option value="" disabled>--تحديد الدور الوظيفي--</option>
                <option value="0">المدير</option>
                <option value="1">مدير المخازن</option>
                <option value="2">موظف المخازن</option>
                <option value="3">مدير الفني</option>
                <option value="4">موظف الفني</option>
                <option value="5"> مدير التكاليف</option>
                <option value="6"> موظف التكاليف</option>
                <option value="7"> مدير الحسابات</option>
                <option value="8"> موظف الحسابات</option>
            </select>
            <span asp-validation-for="@Model.JobRole" class="error"></span>
        </div>
        <div class="button-container">

            @* <input type="button" value="رجوع" onclick="history.back()" class="btn btn-secondary" /> *@
            <input type="submit" value="اضافه" class="btn btn-secondary" />
        </div>
    </form>
</div>

<script src="~/js/Admin/addEmployee.js"> </script>