@{
    Layout = null;
}
@model Employee
<style>
    /* body{ */
    /*     background-image: url("/image/background.jpeg"); */
    /*     opacity: 0.60; /* Adjust transparency */ */
    /*     z-index: -1; */
    /* } */
    body {
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .form-container {
        /* max-width: 500px; */
        margin: 100px auto;
        padding: 20px;
        border-radius: 8px;
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-size: cover;
    }


        .form-container::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-size: cover;
            background-image: url("/image/background.jpeg");
            opacity: 0.60;
            z-index: -1;
            background-size: cover;
            background-position: center;
        }




    h1 {
        text-align: center;
        font-size: 30px;
        color: #050505;
        margin-bottom: 20px;
    }

    .input-control {
        margin-left: 25%;
        position: center;
        width: 50%;
    }

    .textlabel {
        display: block;
        font-weight: 15px;
        margin-bottom: 5px;
        color: #090909;
        font-size: 25px;
        text-align: right;
    }

    .place {
        width: 100%;
        padding: 10px;
        border: 1px solid #000000;
        border-radius: 5px;
        font-size: 20px;
        text-align: right;
        direction: rtl;
        position: center;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        display: flex;
        justify-content: center; /* Center the buttons */
        gap: 60px; /* Reduce space between buttons */
    }


    .btn {
        padding: 10px 15px;
        font-size: 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #000000;
        color: white;
    }

        .btn-primary:hover {
            background-color: #000000;
        }

    .btn-secondary {
        background-color: #000000;
        color: white;
    }

    .btn:hover {
        background-color: #545b62;
    }


    .error {
        color: red;
        font-size: 20px;
        margin-top: 5px;
        display: block;
        text-align: right;
        direction: rtl;
    }

</style>

<div class="form-container">
    <h1>اضافه موظف </h1>
    <form asp-controller="admin" asp-action="Addemployee" name="form1" method="post" enctype="multipart/form-data" class="Employee-form">
        <div class="input-control">
            <label asp-for="@Model.EmployeeId" class="textlabel"></label>
            <input asp-for="@Model.EmployeeId" class="place" />
            <span asp-validation-for="@Model.EmployeeId" class="error"></span>
        </div>
        <div class="input-control">
            <label asp-for="@Model.EmployeeUserName" class="textlabel"> </label>
            <input asp-for="@Model.EmployeeUserName" class="place" />
            <span asp-validation-for="@Model.EmployeeUserName" class="error"></span>
        </div>
        <div class="input-control">
            <label asp-for="@Model.EmployeeName" class="textlabel"></label>
            <input asp-for="@Model.EmployeeName" class="place" />
            <span asp-validation-for="@Model.EmployeeName" class="error"></span>
        </div>
        <div class="input-control">
            <label asp-for="@Model.EmployeePassword" class="textlabel">  </label>
            <input asp-for="@Model.EmployeePassword" class="place" />
            <span asp-validation-for="@Model.EmployeePassword" class="error"></span>
        </div>
        <div class="input-control">
            <label asp-for="@Model.JobRole" class="textlabel"> </label>
            <select asp-for="@Model.JobRole" id="options" class="place">
                <option value="">--تحديد الدور الوظيفي--</option>
                <option value="Technical">الفني</option>
                <option value="Inventory">المخازن</option>
                <option value="Cost">التكاليف</option>
            </select>
            <span asp-validation-for="@Model.JobRole" class="error"></span>
        </div>
        <div class="button-container">
            <input type="button" value="الغاء" onclick="history.back()" class="btn btn-secondary" />
            <input type="submit" value="اضافه" class="btn btn-secondary" />
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector(".Employee-form");

        form.addEventListener("submit", function (event) {
            let isValid = true;


            let employeeUserName = document.querySelectorAll(".place")[0];
            let  employeeName = document.querySelectorAll(".place")[1];
            let employeePassword = document.querySelectorAll(".place")[2];
            let jobRole = document.querySelector("#options");


            let userNameError  = document.querySelectorAll(".error")[0];
            let nameError = document.querySelectorAll(".error")[1];
            let passwordError = document.querySelectorAll(".error")[2];
            let jobRoleError = document.querySelectorAll(".error")[3];



            userNameError.innerText = "";
            nameError.innerText = "";
            passwordError.innerText = "";
            jobRoleError.innerText = "";


            if (employeeName.value.trim() === "") {
                nameError.innerText = "يجب عليك إدخال اسمك";
                isValid = false;
            }

            if (employeeUserName.value.trim() === "") {
                userNameError.innerText = "يجب عليك إدخال اسم المستخدم";
                isValid = false;
            }

            if (employeePassword.value.trim() === "") {
                passwordError.innerText = "يجب عليك إدخال كلمة المرور الخاصة بك";
                passwordError.style.display = "block";
                isValid = false;
            } else if (employeePassword.value.length < 6) {
                passwordError.innerText = "يجب أن تكون كلمة المرور 6 أحرف على الأقل";
                passwordError.style.display = "block";
                isValid = false;
            }

            if (jobRole.value === "") {
                jobRoleError.innerText = "يجب عليك تحديد دور وظيفي";
                isValid = false;
            }


            if (!isValid) {
                event.preventDefault();
            }
        });
    });
</script>