@{
    Layout = null;
}

@model Employee;

<style>


    .form-container {
        max-width: 100%;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-size: cover;
    }


        .form-container::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("/image/background.jpeg");
            opacity: 0.75;
            z-index: -1;
            background-size: cover;
            background-position: center;
        }



    h1 {
        text-align: center;
        font-size: 30px;
        color: #050505;
        margin-bottom: 20px;
    }

    .input-control {
        margin-left: 25%;
        position: center;
        width: 50%;
    }

    .textlabel {
        display: block;
        font-weight: 15px;
        margin-bottom: 5px;
        color: #090909;
        font-size: 30px;
        text-align: right;
    }

    .place {
        width: 100%;
        padding: 10px;
        border: 1px solid #000000;
        border-radius: 5px;
        font-size: 20px;
        text-align: right;
        direction: rtl;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        display: flex;
        justify-content: center; /* Center the buttons */
        gap: 60px; /* Reduce space between buttons */
    }


    .btn {
        padding: 10px 15px;
        font-size: 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #000000;
        color: white;
    }

        .btn-primary:hover {
            background-color: #000000;
        }

    .btn-secondary {
        background-color: #000000;
        color: white;
    }

    .btn:hover {
        background-color: #545b62;
    }

    .error {
        color: red;
        font-size: 20px;
        margin-top: 5px;
        display: block;
        text-align: right;
        direction: rtl;
    }
</style>


<div class="form-container">
    <h1>  تعديل بيانات الموظف : @Model.EmployeeName </h1>
    <form asp-action="EditEmployee" method="post" class="Employee-form">

        <input asp-for="@Model.EmployeeId" type="hidden" />

        <div class="input-control">
            <label asp-for="@Model.EmployeeUserName" class="textlabel"></label>
            <input asp-for="@Model.EmployeeUserName" class="place" />
        </div>
        <div class="input-control">
            <label asp-for="@Model.EmployeeName" class="textlabel"></label>
            <input asp-for="@Model.EmployeeName" class="place" />
        </div>
        <div class="input-control">
            <label asp-for="@Model.EmployeePassword" class="textlabel"> </label>
            <input asp-for="@Model.EmployeePassword" class="place" />
        </div>
        <div class="button-container">
            <input type="button" value="رجوع" onclick="history.back()" class="btn btn-secondary" />
            <input type="submit" value="تعديل" class="btn btn-primary" />

        </div>
    </form>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector(".Employee-form");

        form.addEventListener("submit", function (event) {
            let isValid = true;

            let employeeUserName  = document.querySelectorAll(".place")[0];
            let employeeName = document.querySelectorAll(".place")[1];
            let employeePassword = document.querySelectorAll(".place")[2];

            let userNameError  = document.querySelectorAll(".error")[0];
            let nameError = document.querySelectorAll(".error")[1];
            let passwordError = document.querySelectorAll(".error")[2];

            userNameError.style.display = "none";
            nameError.style.display = "none";
            passwordError.style.display = "none";





            if (employeeUserName.value.trim() === "") {
                userNameError.innerText = "الرجاء إدخال اسم المستخدم";
                userNameError.style.display = "block";
                isValid = false;
            }

             if (employeeName.value.trim() === "") {
                nameError.innerText = "يجب عليك إدخال اسمك";
                nameError.style.display = "block";
                isValid = false;
            }


            if (employeePassword.value.trim() === "") {
                passwordError.innerText = "الرجاء إدخال كلمة المرور الخاصة بك";
                passwordError.style.display = "block";
                isValid = false;
            } else if (employeePassword.value.length < 6) {
                passwordError.innerText = "يجب أن تكون كلمة المرور 6 أحرف على الأقل";
                passwordError.style.display = "block";
                isValid = false;
            }

            if (!isValid) {
                event.preventDefault();
            }
        });
    });

</script>