@{
    Layout = null;
}

@model Employee;

<head>
    <link rel="stylesheet" href="~/css/Admin/editEmployee.css"/>


</head>

<div class="form-container">
    <h1>  تعديل بيانات الموظف : @Model.EmployeeName </h1>

    <form asp-controller="admin" asp-action="EditEmployee" method="post" class="Employee-form">
        <div asp-validation-summary="ModelOnly" class="error"></div>

        <a asp-controller="Admin" asp-action="AdminHome" class="back">
            <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
        </a>

        <input asp-for="@Model.EmployeeId" type="hidden" />

        @* <div class="input-control"> *@
        @*     <label asp-for="@Model.EmployeeUserName" class="textlabel"></label> *@
        @*     <input asp-for="@Model.EmployeeUserName" class="place" /> *@
        @* </div> *@

        <div class="input-control">
            <label asp-for="@Model.EmployeeName" class="textlabel"></label>
            <input asp-for="@Model.EmployeeName" class="place" />
        </div>
        
        <div class="input-control">
            <label asp-for="@Model.EmployeePassword" class="textlabel"> </label>
            <input asp-for="@Model.EmployeePassword" class="place" />
        </div>
        
        <div class="input-control">
            <label asp-for="@Model.Activated" class="textlabel"> </label>
            <select asp-for="@Model.Activated" id="options" class="place">
                @{
                    if (Model.Activated)
                    {
                        <option value="true" selected>مفعل</option>
                        <option value="false" >غير مفعل</option>
                    }else{
                        <option value="false" selected>غير مفعل</option>
                        <option value="true" >مفعل</option>
                    }
                 }
            </select>
        
        <div class="button-container">
            @* <input type="button" value="رجوع" onclick="history.back()" class="btn btn-secondary" /> *@
            <input type="submit" value="تعديل" class="btn btn-primary" />
        </div>
    </form>
</div>

<script src="~/js/Admin/editEmployee.js"></script>