@{
    Layout = null;
}

@using ThothSystemVersion1.Utilities
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
}


@{

    int jobRole = HttpContextAccessor.HttpContext.Session.GetInt32("JobRole") ?? 0;
    Console.WriteLine("JobRole: " + jobRole);
}


@model List<Employee>

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/Admin/viewAllEmployee.css" rel="stylesheet" />

    <link rel="icon"
          type="image/jpeg"
          href="~/image/eye.jpg"
          asp-append-version="true" />
</head>

<div class="container">
    <div class="arrow">
        @{
            // admin
            if (jobRole == 0)
            {
                <a asp-controller="employee" asp-action="adminhome" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>

            } 
        }
    </div>


    <h1>قائمة الموظفين</h1>
    <div class="btn">
        <a asp-controller="Admin" asp-action="AddEmployee" class="editBtn">اضافة</a>
    </div>

    <div class="search-container">
        <i class='bx bx-search search-icon'></i>
        <input type="text" id="searchInput" onkeyup="searchEmployees()" placeholder="ابحث عن موظف...">
    </div>


    <div class="tableContainer">
        <table id="employeeTable">
            <thead>
                <tr>
                    <th>الإجراءات</th>
                    <th>حالة الحساب</th>
                    <th>الدور الوظيفي</th>
                    <th>الاسم </th>
                    <th>الرقم القومي</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Employee emp in Model)
                {
                    <tr id="row-@emp.EmployeeId">
                        <td>
                            <a asp-controller="Admin" asp-action="EditEmployee" asp-route-id="@emp.EmployeeId" class="editBtn">تعديل</a>
                        </td>
                        <td>@(emp.Activated ? "مفعل" : "غير مفعل")</td>
                        <td>@emp.JobRole.GetDisplayName()</td>
                        <td>@emp.EmployeeName</td>
                        <td>@emp.EmployeeId</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script src="~/js/Admin/viewAllEmployee.js">
  
</script>
