@model ThothSystemVersion1.Models.Ink

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/Inventory/EditInk.css" rel="stylesheet" />
    <title>ThoTh</title>
</head>

@{
    ViewData["Title"] = "تعديل بيانات الحبر";
}

<div class="form-container">

    <div class="arrow">
        <a asp-controller="Invntory" asp-action="InventoryManagerHome" class="back">
            <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
        </a>
    </div>
    <h1> تعديل بيانات الحبر  : @Model.Name </h1>

    <form asp-controller="Inventory" asp-action="EditInk" method="post" id="myform">
        <div asp-validation-summary="ModelOnly" class="error"></div>


        <input type="hidden" asp-for="InkId" />
        @* <input type="hidden" id="tempDataSuccess" value="@TempData["success"]" /> *@

        <div class="inputBox">
            <label asp-for="@Model.Name" class="textlabel"></label>
            <input asp-for="@Model.Name" id="Name" class="place" />
            <span asp-validation-for="@Model.Name" class="error"></span>
            <span class="error"></span>
        </div>

        <div class="inputBox">
            <label asp-for="@Model.Colored" class="textlabel"></label>
            <select asp-for="@Model.Colored" id="Colored" class="place">
                <option value="blue">أزرق</option>
                <option value="black">أسود</option>
            </select>
            <span asp-validation-for="@Model.Colored" class="error"></span>

        </div>

        <div class="inputBox">
            <label asp-for="TotalBalance" class="textlabel"></label>
            <input asp-for="TotalBalance" id="TotalBalance" class="place" readonly disabled />
        </div>

        <div class="inputBox">
            <label asp-for="Quantity" class="textlabel"></label>
            <input asp-for="Quantity" id="Quantity" class="place" readonly disabled />
        </div>

        <div class="inputBox">
            <label asp-for="Price" class="textlabel"></label>
            <input asp-for="Price" id="Price" class="place" readonly disabled />
        </div>

        <div class="inputBox">
            <label asp-for="@Model.ReorderPoint" class="textlabel"></label>
            <input asp-for="@Model.ReorderPoint" step="any" type="number" step="any" id="ReorderPoint" class="place" />
            <span asp-validation-for="@Model.ReorderPoint" class="error"></span>
            <span class="error"></span>
        </div>

        <div class="inputBox">
            <label asp-for="@Model.Activated" class="textlabel"> </label>
            <select asp-for="@Model.Activated" id="options" class="place">
                @{
                    if (Model.Activated)
                    {
                    <option value="true" selected>مفعل</option>
                    <option value="false">غير مفعل</option>
                    }
                    else
                    {
                    <option value="false" selected>غير مفعل</option>
                    <option value="true">مفعل</option>
                    }
                }
            </select>

            <div class="button-container">
                @* <input type="button" value="رجوع" onclick="history.back()" class="btn btn-secondary" /> *@
                <input type="submit" value="تعديل" class="btn btn-primary" />
            </div>
    </form>
</div>

<script src="~/js/Inventory/EditInk.js"></script>

