@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor



@{
    Layout = "~/Views/Shared/MinimalLayout.cshtml";
    ViewData["Title"] = "Thoth";

}

@{
    var vendorsList = ViewBag.VendorList as List<Vendor>;
    List<Employee> employeeList = ViewBag.EmployeeList as List<Employee>;
    // List<JobOrder> jobOrderList = ViewBag.JobOrderList as List<JobOrder>;
}

@{

    int jobRole = HttpContextAccessor.HttpContext.Session.GetInt32("JobRole") ?? 0;
    Console.WriteLine("JobRole: " + jobRole);
}
@model ThothSystemVersion1.ViewModels.InventoryReportViewModel

@section HeadContent {
    <link rel="icon" type="image/x-icon" href="~/image/eye.jpg" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/Inventory/inventoryReports.css" rel="stylesheet" />
}


<div class="container">
    @{
        // admin
        if (jobRole == 0)
        {
            <a asp-controller="employee" asp-action="adminhome" class="back">
                <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
            </a>

        } // inventory manager
        else if (jobRole == 1)
        {
            <a asp-controller="employee" asp-action="inventoryManager" class="back">
                <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
            </a>
        }
    }
    <div class="mainBox">
        <h1>تقارير المخازن</h1>
        <div class="toggle-btn" onclick="toggleForm()">

            <span>حركة المخزون <i class='bx bx-chevrons-down'></i></span>
        </div>

        <div id="formSection" class="hiddenBox">
            <form method="post" asp-action="inventoryReports">
                <div class="rowCont">

                    <div class="colCont">
                        <label class="input-label">إلى تاريخ</label>
                        <input type="date" name="endingDate" class="text-input" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                    </div>
                    <div class="colCont">
                        <label class="input-label">من تاريخ</label>
                        <input type="date" name="beginingDate" class="text-input" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                    </div>
                    <div class="colCont">
                        <label class="input-label">العنصر</label>
                        <select id="itemId" name="itemId" class="select-input" required disabled>
                            <option value="">-- اختر نوع العنصر أولا --</option>
                        </select>
                    </div>
                    <div class="colCont">
                        <label class="input-label">نوع العنصر</label>
                        <select id="inventoryType" name="itemType" class="select-input" required>
                            <option value="">-- اختر نوع العنصر --</option>
                            <option value="Paper">ورق</option>
                            <option value="Ink">حبر</option>
                            <option value="Supply">مستلزمات</option>
                            <option value="Spare">قطع غيار</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn">عرض حركة المخزون</button>
            </form>
        </div>
    </div>
    <!-- Vendor Report -->
    <div class="mainBox">
        <div class="toggle-btn" onclick="toggleVendors()">
            <span>تقرير الموردين <i class='bx bx-chevrons-down'></i></span>
        </div>
        <div id="vendorFormSection" class="hiddenBox">
            <form asp-controller="Inventory" asp-action="VendorReport" method="post">
                <div class="rowCont">


                    <div class="colCont">
                        <label class="input-label">إلى تاريخ</label>
                        <input type="date" name="endingDate" class="text-input" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                    </div>
                    <div class="colCont">
                        <label class="input-label">من تاريخ</label>
                        <input type="date" name="beginingDate" class="text-input" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                    </div>
                </div>

                <button type="submit" class="btn">عرض الموردين</button>
            </form>
        </div>
    </div>

    <!-- Customer Report -->
    <div class="mainBox">
        <div class="toggle-btn" onclick="toggleCustomers()">
            <span>تقرير العملاء <i class='bx bx-chevrons-down'></i></span>
        </div>
        <div id="customerFormSection" class="hiddenBox">
            <form asp-controller="Inventory" asp-action="CustomerReport" method="post">
                <div class="rowCont">


                    <div class="colCont">
                        <label class="input-label">إلى تاريخ</label>
                        <input type="date" name="endingDate" class="text-input" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                    </div>
                    <div class="colCont">
                        <label class="input-label">من تاريخ</label>
                        <input type="date" name="beginingDate" class="text-input" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                    </div>
                </div>

                <button type="submit" class="btn">عرض العملاء</button>
            </form>
        </div>
    </div>


    <!-- Results Section -->
    @if (Model != null)
    {
        <div class="report-box">
            <div class="report-header">
                <h2>نتيجة التقرير</h2>
            </div>
            <div class="report-body">

                <!-- Purchase Orders Section -->
                @if (Model.purchaseOrderList != null && Model.purchaseOrderList.Any())
                {
                    <div class="section-box">
                        <h2>أوامر الشراء</h2>
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>التفاصيل</th>
                                    <th>قيمة الدفع</th>
                                    <th>التاريخ</th>
                                    <th>المورد الخاص لامر الشراء</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var order in Model.purchaseOrderList)
                                {
                                    var bridgeItems = Model.quantityBridgeList.Where(q => q.PurchaseId == order.PurchaseId).ToList();
                                    <tr>
                                        @if (bridgeItems.Any())
                                        {

                                            @foreach (var item in bridgeItems)
                                            {
                                                <td>الكمية: @item.Quantity - السعر: @item.Price -</td>
                                            }
                                        }
                                        <td>@bridgeItems.Sum(q => q.TotalBalance)</td>

                                        <td>@order.PurchaseDate</td>

                                        <td>
                                            @{
                                                for (int i = 0; i <= vendorsList.Count; i++)
                                                {

                                                    if (order.VendorId == vendorsList[i].VendorId)
                                                    {
                                                        <span>@vendorsList[i].VendorName</span>
                                                        break;
                                                    }
                                                }
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                <!-- Requisite Orders Section -->
                @if (Model.requisiteOrderList != null && Model.requisiteOrderList.Any())
                {
                    <div class="section-box">
                        <h2>أوامر الصرف</h2>
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    @* <th>الطلبية المخصوصة</th> *@
                                    <th>التفاصيل</th>
                                    @* <th>الكمية</th> *@
                                    <th>التاريخ</th>
                                    <th>الموظف القائم بالامر</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model.requisiteOrderList)
                                {
                                    var bridgeItems = Model.quantityBridgeList.Where(q => q.RequisiteId == order.RequisiteId).ToList();


                                    <tr>
                                        @if (bridgeItems.Any())
                                        {
                                            @foreach (QuantityBridge item in bridgeItems)
                                            {
                                                <td>الكمية: @item.Quantity - السعر: @item.Price -</td>
                                            }
                                        }

                                        <td>@order.RequisiteDate</td>

                                        <td>
                                            @{
                                                for (int i = 0; i <= employeeList.Count; i++)
                                                {

                                                    if (order.EmployeeId == employeeList[i].EmployeeId)
                                                    {
                                                        <span>@employeeList[i].EmployeeName</span>
                                                        break;
                                                    }
                                                }
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                <!-- Physical Count Orders Section -->
                @if (Model.physicalCountList != null && Model.physicalCountList.Any())
                {
                    <div class="section-box">
                        <h2>أوامر الجرد</h2>
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>الكمية الجديدة</th>
                                    <th>الكمية القديمة</th>
                                    <th>التاريخ</th>
                                    <th>الموظف القائم بالامر</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model.physicalCountList)
                                {
                                    var bridgeItems = Model.quantityBridgeList.Where(q => q.PhysicalCountId == order.PhysicalCountId).ToList();
                                    <tr>

                                        @if (bridgeItems.Any())
                                        {

                                            @foreach (QuantityBridge item in bridgeItems)
                                            {
                                                <td> @item.Quantity</td>
                                            }

                                        }

                                        @if (bridgeItems.Any())
                                        {

                                            @foreach (QuantityBridge item in bridgeItems)
                                            {
                                                <td> @item.OldQuantity</td>
                                            }

                                        }


                                        <td>@order.PhysicalCountDate</td>

                                        <td>
                                            @{
                                                for (int i = 0; i <= employeeList.Count; i++)
                                                {

                                                    if (order.EmployeeId == employeeList[i].EmployeeId)
                                                    {
                                                        <span>@employeeList[i].EmployeeName</span>
                                                        break;
                                                    }
                                                }
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                <!-- Return Orders Section -->
                @if (Model.returnOrderList != null && Model.returnOrderList.Any())
                {
                    <div class="section-box">
                        <h2>أوامر المرتجعات</h2>
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>الكمية</th>
                                    <th>التاريخ</th>
                                    <th>داخل أم خارج</th>
                                    <th>الموظف القائم بالامر</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model.returnOrderList)
                                {
                                    var bridgeItems = Model.quantityBridgeList.Where(q => q.ReturnId == order.ReturnId).ToList();
                                    <tr>
                                        @if (bridgeItems.Any())
                                        {
                                            @foreach (var item in bridgeItems)
                                            {
                                                <td> @item.Quantity</td>
                                            }
                                        }
                                        <td>@order.ReturnDate</td>

                                        <td>@(order.ReturnInOut == true ? "مرتجع داخلي" : "مرتجع خارجي")</td>


                                        <td>
                                            @{
                                                for (int i = 0; i <= employeeList.Count; i++)
                                                {

                                                    if (order.EmployeeId == employeeList[i].EmployeeId)
                                                    {
                                                        <span>@employeeList[i].EmployeeName</span>
                                                        break;
                                                    }
                                                }
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                <!-- Perpetual Orders Section-->
                @if (Model.returnOrderList != null && Model.returnOrderList.Any())
                {
                    <div class="section-box">
                        <h2>أوامر الصرف المخزم الدائم</h2>
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>التفاصيل</th>
                                    <th>التاريخ</th>
                                    <th>الموظف القائم بالامر</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model.perpetualOrderList)
                                {
                                    var bridgeItems = Model.quantityBridgeList.Where(q => q.PerpetualRequisiteId == order.PerpetualRequisiteId).ToList();
                                    <tr>
                                        @if (bridgeItems.Any())
                                        {
                                            @foreach (var item in bridgeItems)
                                            {
                                                  <td>الكمية: @item.Quantity - السعر: @item.Price -</td>
                                            }
                                        }
                                        <td>@order.PerpetualRequisiteDate</td>

                                        <td>
                                            @{
                                                for (int i = 0; i <= employeeList.Count; i++)
                                                {

                                                    if (order.EmployeeId == employeeList[i].EmployeeId)
                                                    {
                                                        <span>@employeeList[i].EmployeeName</span>
                                                        break;
                                                    }
                                                }
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                <!-- Vendor Report Section -->
                @if (Model.VendorReport != null && Model.VendorReport.Any())
                {
                    <div class="section-box">
                        <h2>تقرير الموردين</h2>
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>الرصيد القديم الإجمالي</th>
                                    <th>عدد المشتريات</th>
                                    <th>اسم المورد</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.VendorReport)
                                {
                                    <tr>
                                        <td>@item.TotalOldBalance.ToString("C", new System.Globalization.CultureInfo("ar-EG"))</td>
                                        <td>@item.PurchaseCount</td>
                                        <td>@item.Vendor.VendorName</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                <!-- Customer Report Section -->
                @if (Model.CustomerReport != null && Model.CustomerReport.Any())
                {
                    <div class="section-box">
                        <h2>تقرير العملاء</h2>
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>الرصيد المتبقي </th>
                                    <th>الرصيد غير مستحق</th>
                                    <th>الرصيد المستحق</th>
                                    <th>عدد الطلبات</th>
                                    <th>اسم العميل</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CustomerReport)
                                {
                                    <tr>
                                        <td>@item.RemainingBalance.ToString("C", new System.Globalization.CultureInfo("ar-EG"))</td>
                                        <td>@item.unearnedBalance.ToString("C", new System.Globalization.CultureInfo("ar-EG"))</td>
                                        <td>@item.TotalBalance.ToString("C", new System.Globalization.CultureInfo("ar-EG"))</td>
                                        <td>@item.OrderCount</td>
                                        <td>@item.Customer.CustomerName</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
        $('#inventoryType').change(function () {
                        var selectedType = $(this).val();
                var itemSelect = $('#itemId');

                itemSelect.empty().prop('disabled', !selectedType);

                if (!selectedType) {
                    itemSelect.append('<option value="">-- اختر نوع العنصر أولا --</option>');
                    return;
                }

                itemSelect.append('<option value="">-- اختر --</option>');
                var items = {
                    Paper: @Html.Raw(Json.Serialize(ViewBag.PaperList)),
                    Ink: @Html.Raw(Json.Serialize(ViewBag.InkList)),
                    Supply: @Html.Raw(Json.Serialize(ViewBag.SupplyList)),
                    Spare : @Html.Raw(Json.Serialize(ViewBag.SpareList))
                };

                items[selectedType].forEach(function(item) {
                           var id = item.paperId || item.inkId || item.suppliesId || item.SparePartsId;
                           var name = item.name;

                    itemSelect.append($('<option></option>').val(id).text(name));
                });
            });
        });
    </script>
    <script>
        function toggleForm() {
            const section = document.getElementById("formSection");
            section.style.display = section.style.display === "none" || section.style.display === "" ? "block" : "none";
        }
    </script>
    <script>
        function toggleVendors() {
            const section = document.getElementById("vendorFormSection");
            section.style.display = section.style.display === "none" || section.style.display === "" ? "block" : "none";
        }
    </script>
    <script>
        function toggleCustomers() {
            const section = document.getElementById("customerFormSection");
            section.style.display = section.style.display === "none" || section.style.display === "" ? "block" : "none";
        }
    </script>
}