@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = null;
}

@model Ink;

@{
    List<ColorWeightSize> cwsList = ViewBag.ColorWeightSizeList;

    int jobRole = HttpContextAccessor.HttpContext.Session.GetInt32("JobRole") ?? 0;
    Console.WriteLine("JobRole: " + jobRole);
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Home.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/jpeg" href="~/image/eye.jpg" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/Inventory/newInk.css" rel="stylesheet" />
    <title>ThoTh</title>
</head>


<div class="container">
    <div class="arrow">
        @{
            // admin
            if (jobRole == 0)
            {
                <a asp-controller="employee" asp-action="adminhome" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>

            } // inventory manager
            else if (jobRole == 1)
            {
                <a asp-controller="employee" asp-action="inventoryManager" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>
            }

            // Inventory clerk
            else if (jobRole == 2)
            {
                <a asp-controller="employee" asp-action="inventoryClerk" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>
            }


        }
    </div>

    <form asp-controller="Inventory" asp-action="NewInk" id="myform" enctype="multipart/form-data" method="post">
        @* Success and Error Messages *@
        @if (TempData["Success"] != null)
        {
            <div class="notification success">
                <div class="notification-content">
                    <i class='bx bx-check-circle'></i> @TempData["Success"]
                </div>
                <input type="hidden" id="tempDataSuccess" value="true" />
                <div class="progress-bar success"></div>
            </div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="notification error">
                <div class="notification-content">
                    <i class='bx bx-error-circle'></i>
                    <span>@TempData["Error"]</span>
                </div>
                <input type="hidden" id="tempDataSuccess" value="false" />
                <div class="progress-bar error"></div>
            </div>
        }

        <input type="hidden" id="hdnJobRole" value="@jobRole" />
        <div asp-validation-summary="ModelOnly" class="error"></div>

        <div class="text">
            <h1>إضافة صنف حبر جديد</h1>
        </div>

        <div class="inputBox">
            <label for="InkName">اسم الحبر</label>
            <input type="text" asp-for="@Model.Name" id="InkName" />
            <p asp-validation-for="@Model.Name" class="error"></p>
        </div>

        <div class="inputBox">
            <label asp-for="@Model.Colored"></label>
            <select asp-for="@Model.Colored" id="Colored" class="input">
                <option value="none" selected disabled>اختر اللون</option>
                @{
                    foreach (var item in (List<ColorWeightSize>)ViewBag.ColorWeightSizeList)
                    {
                        if (item.Type == 0)
                        {
                            <option value="@item.Colored">@item.Colored</option>
                        }
                    }
                }
            </select>
            <span asp-validation-for="@Model.Colored" class="error"></span>
        </div>

        <div class="inputBox">
            <label for="Quantity">عدد سحبات الحبر</label>
            <input type="number" step="any" asp-for="@Model.Quantity" id="Quantity" />
            <p asp-validation-for="@Model.Quantity" class="error"></p>
        </div>

        <div class="inputBox">
            <label for="Price">سعر الحبر</label>
            <input type="number" step="any" asp-for="@Model.Price" id="Price" />
            <p asp-validation-for="@Model.Price" class="error"></p>
        </div>

        <div class="inputBox">
            <label for="AverageQuantity">متوسط السحبات</label>
            <input type="number" step="any" asp-for="@Model.AverageQuantity" id="AverageQuantity" />
            <p asp-validation-for="@Model.AverageQuantity" class="error"></p>
        </div>

        <div class="inputBox">
            <label for="NumberOfUnits">عدد العبوات</label>
            <input type="number" step="any" asp-for="@Model.NumberOfUnits" id="NumberOfUnits" />
            <p asp-validation-for="@Model.NumberOfUnits" class="error"></p>
        </div>

        <div class="inputBox">
            <label for="ReorderPoint">نقطة إعادة الطلب</label>
            <input type="number" step="any" asp-for="@Model.ReorderPoint" id="ReorderPoint" />
            <p asp-validation-for="@Model.ReorderPoint" class="error"></p>
        </div>

        <div class="buttons">
            <div class="Add">
                <input type="submit" value="تأكيد الإضافة " class="Add" />
            </div>
            <div class="reset">
                <input type="reset" value="إعادة إدخال" class="btnReset" />
            </div>
        </div>
    </form>

</div>
 <script src="~/js/Inventory/newInk.js"></script> 