@model Paper;
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;

    List<ColorWeightSize> cwsList = ViewBag.ColorWeightSizeList;
}


@{

    int jobRole = HttpContextAccessor.HttpContext.Session.GetInt32("JobRole") ?? 0;
    Console.WriteLine("JobRole: " + jobRole);
}



<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Home.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    @* <link rel="icon" type="image/x-icon" href="@Url.Content("~/photos/eye.jpg")" /> *@
    <link rel="icon" type="image/jpeg" href="~/image/eye.jpg" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/Inventory/newPaper.css" rel="stylesheet" />
    <title>ThoTh</title>
</head>


<div class="container">
    <div class="arrow">
        @{
            // admin
            if (jobRole == 0)
            {
                <a asp-controller="employee" asp-action="adminhome" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>

            } // inventory manager
            else if (jobRole == 1)
            {
                <a asp-controller="employee" asp-action="inventoryManager" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>
            }
            else if (jobRole == 2)
            {
                <a asp-controller="employee" asp-action="inventoryClerk" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>
            }


        }
    </div>


    <form asp-action="NewPaper" id="myform" enctype="multipart/form-data" method="post">

        @if (TempData["Success"] != null)
        {
            <div class="notification success">
                <div class="notification-content">
                    <i class='bx bx-check-circle'></i> @TempData["Success"]
                </div>
                <input type="hidden" id="tempDataSuccess" value="true" />
                <div class="progress-bar success"></div>
            </div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="notification error">
                <div class="notification-content">
                    <i class='bx bx-error-circle'></i>
                    <span>@TempData["Error"]</span>
                </div>
                <input type="hidden" id="tempDataSuccess" value="false" />
                <div class="progress-bar error"></div>
            </div>
        }

        <input type="hidden" id="hdnJobRole" value="@jobRole" />
        <div asp-validation-summary="ModelOnly" class="error"></div>

        <div class="text">
            <h1>إضافة صنف ورق جديد</h1>
        </div>

        <div class="inputBox">
            <label for="paperName">اسم خام الورق</label>
            <input type="text" asp-for="@Model.Name" id="paperName" />
            <span class="error" asp-validation-for="@Model.Name"></span>
        </div>

        <div class="inputBox">
            <label for="Size">مقاس الورق</label>
            <select asp-for="@Model.Size" class="input">
                <option value="none" selected disabled>اختار المقاس</option>
                @{
                    foreach (var item in (List<ColorWeightSize>)ViewBag.ColorWeightSizeList)
                    {
                        if (item.Type == 2)
                        {
                            <option value="@item.Size">@item.Size</option>
                        }
                    }
                }
            </select>
            <span class="error" asp-validation-for="@Model.Size"></span>
        </div>

        <div class="inputBox">
            <label for="Weight">وزن الورق</label>
            <select asp-for="@Model.Weight" class="input">
                <option value="none" selected disabled>اختار الوزن</option>
                @{
                    foreach (var item in (List<ColorWeightSize>)ViewBag.ColorWeightSizeList)
                    {
                        if (item.Type == 1)
                        {
                            <option value="@item.Weight">@item.Weight</option>
                        }
                    }
                }
            </select>
            <span class="error" asp-validation-for="@Model.Weight"></span>
        </div>

        <div class="inputBox">
            <label for="Quantity">كميه الورق</label>
            <input type="number" step="any" asp-for="@Model.Quantity" id="Quantity" />
            <p asp-validation-for="@Model.Quantity" class="error"></p>
        </div>

        <div class="inputBox">
            <label asp-for="@Model.Colored"></label>
            <select asp-for="@Model.Colored" class="input">
                <option value="none" selected disabled>اختار اللون</option>
                @{
                    foreach (var item in (List<ColorWeightSize>)ViewBag.ColorWeightSizeList)
                    {
                        if (item.Type == 0)
                        {
                            <option value="@item.Colored">@item.Colored</option>
                        }
                    }
                }
            </select>
            <span asp-validation-for="@Model.Colored" class="error"></span>
        </div>

        @* <div class="inputBox">
            <label for="TotalBalance">القيمة المتاحه</label>
            <input type="number" step="any" asp-for="@Model.TotalBalance" id="TotalBalance" />
            <span asp-validation-for="@Model.TotalBalance" class="error"></span>
        </div> *@

        <div class="inputBox">
            <label for="ReorderPoint">نقطة إعادة الطلب</label>
            <input type="number" step="any" asp-for="@Model.ReorderPoint" id="ReorderPoint" />
            <span asp-validation-for="@Model.ReorderPoint" class="error"></span>
        </div>

        <div class="inputBox">
            <label for="Price">سعر الورق</label>
            <input type="number" step="any" asp-for="@Model.Price" id="Price" />
            <span asp-validation-for="@Model.Price" class="error"></span>
        </div>

        <div class="buttons">
            <div class="Add">
                <input type="submit" value="تأكيد الإضافة " class="Add" />
            </div>

            <div class="reset">
                <input type="reset" value="إعادة إدخال" class="btnReset" />
            </div>
        </div>
    </form>

</div>
<script src="~/js/Inventory/newPaper.js"></script>
