@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
}


@model Paper;

@{

    int jobRole = HttpContextAccessor.HttpContext.Session.GetInt32("JobRole") ?? 0;
    Console.WriteLine("JobRole: " + jobRole);
}



<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Home.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="/image/eye.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/Inventory/newPaper.css" rel="stylesheet" />
    <title>ThoTh</title>
</head>


<div class="container">
    <div class="arrow">
        @{
            // admin
            if (jobRole == 0)
            {
                <a asp-controller="employee" asp-action="adminhome" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>

            } // inventory manager
            else if (jobRole == 1)
            {
                <a asp-controller="employee" asp-action="inventoryManager" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>
            }
            else if (jobRole == 2)
            {
                <a asp-controller="employee" asp-action="inventoryClerk" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>
            }

       
       }
    </div>


    <form asp-action="NewPaper" id="myform" enctype="multipart/form-data" method="post">
        @* Success and Error Messages *@
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i> @TempData["Success"]
                <input type="hidden" id="tempDataSuccess" value="true" />
            </div>
        }
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i> @TempData["Error"]
                <input type="hidden" id="tempDataSuccess" value="false" />
            </div>
        }
        <input type="hidden" id="hdnJobRole" value="@jobRole" />
        <div class="text">
            <h1>إضافة صنف ورق جديد</h1>
        </div>

        <div class="inputBox">
            <label for="paperName">اسم خام الورق</label>
            <input type="text" asp-for="@Model.Name" id="paperName" />
            <p asp-validation-for="@Model.Name" class="error"></p>
        </div>

        <div class="inputBox">
            <label for="Type">نوع الورق</label>
            <input type="text" asp-for="@Model.Type" id="Type" />
            <p asp-validation-for="@Model.Type" class="error"></p>
        </div>

        <div class="inputBox">
            <label for="Weight">وزن الورق</label>
                <input type="number" step="any" asp-for="@Model.Weight" id="Weight" />
            <p asp-validation-for="@Model.Weight" class="error"></p>
        </div>

        <div class="inputBox">
            <label for="Quantity">كميه الورق</label>
                <input type="number" step="any" asp-for="@Model.Quantity" id="Quantity" />
            <p asp-validation-for="@Model.Quantity" class="error"></p>
        </div>

        <div class="inputBox">
            <label for="Colored">لون الورق</label>
                <input type="text" asp-for="@Model.Colored" id="Colored" />
            <p asp-validation-for="@Model.Colored" class="error"></p>
        </div>

        <div class="inputBox">
            <label for="Price">سعر الورق</label>
                <input type="number" step="any" asp-for="@Model.Price" id="Price" />
            <p asp-validation-for="@Model.Price" class="error"></p>
        </div>

        <div class="buttons">
            <div class="Add">
                <input type="submit" value="تأكيد الإضافة " class="Add" />
            </div>

            <div class="reset">
                <input type="reset" value="إعادة إدخال" class="btnReset" />
            </div>
        </div>
        
    </form>
</div>
<script src="~/js/Inventory/newPaper.js"></script>
