@model IEnumerable<ThothSystemVersion1.Models.Ink>

@{
    Layout = "~/Views/Shared/MinimalLayout.cshtml";

    ViewData["Title"] = "قائمة الحبر";
}

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/Inventory/ViewAllInk.css" rel="stylesheet" />

</head>
<div class="container">
    <div class="arrow">
        <a asp-controller="Admin" asp-action="AdminHome" class="back">
            <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
        </a>
    </div>
    <h1>قائمة الحبر</h1>

    <div id="reorderMessages" class="reorderMsg" style="display:none;"></div>

    <p>
        <a asp-controller="inventory" asp-action="NewInk" class="editBtn">اضافة</a>
    </p>

    <div class="search-container">
        <i class='bx bx-search search-icon'></i>
        <input type="text" id="searchInput" onkeyup="searchInk()" placeholder="...ابحث عن الحبر">
    </div>

    <div class="tableContainer">

        <table id="InkTable">
            <thead>
                <tr>



                    @* <th> *@
                    @*     @Html.DisplayNameFor(model => model.Price) *@
                    @* </th> *@
                    @* <th> *@
                    @*     @Html.DisplayNameFor(model => model.Quantity) *@
                    @* </th> *@
                    @* <th> *@
                    @*     @Html.DisplayNameFor(model => model.ReorderPoint) *@
                    @* </th> *@
                    @* <th> *@
                    @*     @Html.DisplayNameFor(model => model.Activated) *@
                    @* </th> *@

                    <th>الإجراءات</th>


                    <th>
                        @Html.DisplayNameFor(model => model.Colored)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalBalance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>



                        @* <td> *@
                        @*     @Html.DisplayFor(modelItem => item.Price) *@
                        @* </td> *@
                        @* <td> *@
                        @*     @Html.DisplayFor(modelItem => item.Quantity) *@
                        @* </td> *@
                        @* <td> *@
                        @*     @Html.DisplayFor(modelItem => item.ReorderPoint) *@
                        @* </td> *@
                        @* <td> *@
                        @*     @Html.DisplayFor(modelItem => item.Activated) *@
                        @* </td> *@

                        <td>
                            <a asp-controller="inventory" asp-action="EditInk" asp-route-id="@item.InkId" class="editBtn">تعديل</a>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Colored)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalBalance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>