@model Employee


<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Home.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="~/css/SharedViews/login.css" rel="stylesheet" />
    <!-- Other meta tags and links -->
    <link rel="icon" type="image/jpeg" href="~/image/eye.jpg" asp-append-version="true" />
</head>


<div id="navbar">
    <div class="assiutLogo">
        <img src="./image/Assiut_University_logo.gif" alt="Ø´Ø¹Ø§Ø± Ø¬Ø§Ù…Ø¹Ø© Ø£Ø³ÙŠÙˆØ·" />
    </div>

    <div class="hieroglyph">ğ“…ğ“ğ“›  </div>
    <img src="./image/eye.jpg" alt="logo">
</div>


@*  Success and Error Messages  *@

<div class="card-body">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            <i class="bx bx-check-circle"></i> @TempData["Success"]
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            <i class="bx bx-error-circle"></i> @TempData["Error"]
        </div>
    }
</div>

<div class="registeration">
    <div class="registration-container">
        <form action="/Employee/EmployeeLogin" id="myform" enctype="multipart/form-data" method="post">
            <h1>ØªØ­ÙˆØª ÙŠØ±Ø­Ø¨ Ø¨Ùƒ .. Ù…Ù† ÙØ¶Ù„Ùƒ Ù‚Ù… Ø¨ØªØ³Ø¬ÙŠÙ„ Ø§Ù„Ø¯Ø®ÙˆÙ„</h1>

            <div class="text">
                <h1>TH<span>&#x13080;</span>TH</h1>
            </div>

            <div class="inputBox">
                <input type="text" asp-for="@Model.EmployeeUserName" placeholder="Ø§Ø³Ù… Ø§Ù„Ù…Ø³ØªØ®Ø¯Ù…" id="userName" />
                <i class="bx bxs-user"></i>
            </div>
            <p asp-validation-for="@Model.EmployeeUserName" class="error"></p>


            <br />
            <div class="inputBox">
                <input type="password" asp-for="@Model.EmployeePassword" placeholder="ÙƒÙ„Ù…Ù‡ Ø§Ù„Ù…Ø±ÙˆØ±" id="Password" />
                <i class="fa-solid fa-eye" id="togglePassword"></i>
            </div>
            <p asp-validation-for="@Model.EmployeePassword" class="error"></p>


            <div class="LogIn">
                <input type="submit" value="ØªØ³Ø¬ÙŠÙ„ Ø§Ù„Ø¯Ø®ÙˆÙ„" class="btnLog" />
            </div>

            <div class="reset">
                <input type="reset" value="Ø¥Ø¹Ø§Ø¯Ø© Ø¥Ø¯Ø®Ø§Ù„" class="btnReset" />
            </div>

        </form>
    </div>
</div>




<script src="~/js/SharedViews/loginEmployee.js">


</script>