@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor



@model ThothSystemVersion1.DataTransfereObject.CustomerDTO;
@{
    Layout = null;
}


@{

    int jobRole = HttpContextAccessor.HttpContext.Session.GetInt32("JobRole") ?? 0;
    Console.WriteLine("JobRole: " + jobRole);
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Home.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    @* <link rel="icon" type="image/x-icon" href="@Url.Content("~/photos/eye.jpg")" /> *@
    <link rel="icon" type="image/jpeg" href="~/image/eye.jpg" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/Technical/AddCustomer.css" rel="stylesheet" />
    <title>ThoTh</title>
</head>


    <div class="arrow">
        @{
            // admin
            if (jobRole == 0)
            {
                <a asp-controller="employee" asp-action="adminhome" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>

            } // Technical manager
            else if (jobRole == 3)
            {
                <a asp-controller="employee" asp-action="TechnicalManager" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>
            } // Technical Clerk
            else if (jobRole == 4)
            {
                <a asp-controller="employee" asp-action="TechnicalClerk" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>
            }


        }
    </div>



    <div class="form-container">
        <h1>إضافة عميل جديد</h1>

        @* Success and Error Messages *@
        @if (TempData["Success"] != null)
        {
            <div class="notification success">
                <div class="notification-content">
                    <i class='bx bx-check-circle'></i> @TempData["Success"]

                </div>
                <input type="hidden" id="tempDataSuccess" value="true" />
                <div class="progress-bar success"></div>
            </div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="notification error">
                <div class="notification-content">
                    <i class='bx bx-error-circle'></i>
                    <span>@TempData["Error"]</span>
                </div>
                <input type="hidden" id="tempDataSuccess" value="false" />

                <div class="progress-bar error"></div>

            </div>
        }
        <input type="hidden" id="hdnJobRole" value="@jobRole" />

        <form asp-action="AddCustomer" id="myform" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="error"></div>

            <div class="inputBox">
                <label for="CustomerName" class="textlabel">اسم العميل</label>
                <input type="text" class="place" asp-for="@Model.CustomerName" id="CustomerName" />
                <span asp-validation-for="@Model.CustomerName" class="error style="display: none;"></span>
            </div>

            <div class="inputBox">
                <label for="Address" class="textlabel">عنوان العميل</label>
                <input type="text"class="place" asp-for="@Model.CustomerAddress" id="Address" />
            <span asp-validation-for="@Model.CustomerAddress" class="error style=" display: none;"></span>
            </div>

            <div class="inputBox">
                <label for="Email" class="textlabel">الإيميل الإلكتروني</label>
                <input type="text" class="place" asp-for="@Model.CustomerEmail" id="Email" />
            <span asp-validation-for="@Model.CustomerEmail" class="error style=" display: none;"></span>
            </div>

            <div class="inputBox">
                <label for="Phone" class="textlabel">رقم الهاتف</label>
                <input type="text" class="place" asp-for="@Model.CustomerPhone" id="Phone" />
            <span asp-validation-for="@Model.CustomerPhone" class="error style=" display: none;"></span>
            </div>

            <div class="inputBox">
                <label for="CustomerSource" class="textlabel">مصدر العميل </label>
                <select asp-for="@Model.CustomerSource" id="PhoneType" class="place">
                    <option value="داخلي">داخلي</option>
                    <option value="خارجي">خارجي</option>
                    <option value="الجامعة">الجامعة</option>
                </select>
            <span asp-validation-for="@Model.CustomerSource" class="error style=" display: none;"></span>
            </div>

            <div class="inputBox">
                <label for="Notes" class="textlabel">ملاحظات عن العميل</label>
                <input type="text" class="place" asp-for="@Model.CustomerNotes" id="Notes" />
            <span asp-validation-for="@Model.CustomerNotes" class="error style=" display: none;"></span>
            </div>

            <div class="button-container">
                <input type="submit" value="إضافه" class="btn btn-secondary" />

            </div>

        </form>
    </div>
    <script src="~/js/Technical/AddCustomer.js"></script>
