@model ThothSystemVersion1.DataTransfereObject.CustomerDTO

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/Technical/EditCustomer.css" rel="stylesheet" />
    <title>ThoTh</title>
</head>

@{
    ViewData["Title"] = "تعديل بيانات العميل";
}


<div class="form-container">
    <h1> تعديل بيانات العميل  : @Model.CustomerName </h1>
    <div class="arrow">
        <a asp-controller="Technical" asp-action="TechnicalManagerHome" class="back">
            <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
        </a>
    </div>

    <input type="hidden" id="tempDataSuccess" value="@TempData["success"]" />


    <form asp-controller="Technical" asp-action="EditCustomer" method="post" id="myform">
        <div asp-validation-summary="ModelOnly" class="error"></div>


        <input type="hidden" name="CustomerId" value="@Model.CustomerId" />

        <div class="inputBox">
            <label asp-for="@Model.CustomerName" class="textlabel"></label>
            <input asp-for="@Model.CustomerName" id="CustomerName" class="place" />
            <span asp-validation-for="@Model.CustomerName" class="error"></span>
            <span class="error"></span>
        </div>

        <div class="inputBox">
            <label asp-for="@Model.CustomerAddress" class="textlabel"></label>
            <input asp-for="@Model.CustomerAddress" id="Address" class="place" />
            <span asp-validation-for="@Model.CustomerAddress" class="error"></span>
            <span class="error"></span>
        </div>

        <div class="inputBox">
            <label asp-for="@Model.CustomerEmail" class="textlabel"></label>
            <input asp-for="@Model.CustomerEmail" id="Email" class="place" />
            <span asp-validation-for="@Model.CustomerEmail" class="error"></span>
            <span class="error"></span>
        </div>

        <div class="inputBox">
            <label asp-for="@Model.CustomerPhone" class="textlabel"></label>
            <input asp-for="@Model.CustomerPhone" id="Phone" class="place" type="text" />
            <span asp-validation-for="@Model.CustomerPhone" class="error"></span>
            <span class="error"></span>
        </div>


        <div class="inputBox">
            <label asp-for="@Model.CustomerNotes" class="textlabel"></label>
            <input asp-for="@Model.CustomerNotes" id="Notes" class="place" />
            <span asp-validation-for="@Model.CustomerNotes" class="error"></span>
            <span class="error"></span>
        </div>


        <div class="button-container">
            @* <input type="button" value="رجوع" onclick="history.back()" class="btn btn-secondary" /> *@
            <input type="submit" value="تعديل" class="btn btn-primary" />
        </div>
    </form>
</div>


<script src="~/js/Technical/EditCustomer.js"></script>








