@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    Layout = null;
}


@model ThothSystemVersion1.DataTransfereObject.CustomerDTO;


@{

    int jobRole = HttpContextAccessor.HttpContext.Session.GetInt32("JobRole") ?? 0;
    Console.WriteLine("JobRole: " + jobRole);
}





<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Home.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/jpeg" href="~/image/eye.jpg" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link href="~/css/Technical/EditCustomer.css" rel="stylesheet" /> *@
    <link href="/css/Technical/EditCustomer.css" rel="stylesheet" />
    <title>ThoTh</title>
</head>

@{
    ViewData["Title"] = "تعديل بيانات العميل";
}


<div class="arrow">
    @{
        // admin
        if (jobRole == 0)
        {
            <a asp-controller="employee" asp-action="adminhome" class="back">
                <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
            </a>

        } // Technical manager
        else if (jobRole == 3)
        {
            <a asp-controller="employee" asp-action="TechnicalManager" class="back">
                <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
            </a>
        }

    }
</div>


<div class="form-container">
    <h1> تعديل بيانات العميل  : @Model.CustomerName </h1>

    <form asp-controller="Technical" asp-action="EditCustomer" method="post" id="myform">
        <input type="hidden" asp-for="CustomerId" />

        @* Success and Error Messages *@
        @if (TempData["Success"] != null)
        {
            <div class="notification success">
                <div class="notification-content">
                    <i class='bx bx-check-circle'></i> @TempData["Success"]

                </div>
                <input type="hidden" id="tempDataSuccess" value="true" />
                <div class="progress-bar success"></div>
            </div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="notification error">
                <div class="notification-content">
                    <i class='bx bx-error-circle'></i>
                    <span>@TempData["Error"]</span>
                </div>
                <input type="hidden" id="tempDataSuccess" value="false" />

                <div class="progress-bar error"></div>

            </div>
        }
        <input type="hidden" id="hdnJobRole" value="@jobRole" />
        <div asp-validation-summary="ModelOnly" class="error"></div>



        <div class="inputBox">
            <label asp-for="CustomerName" class="textlabel"></label>
            <input asp-for="CustomerName" id="CustomerName" class="place" />
            <span asp-validation-for="@Model.CustomerName" class="error style=" display: none;"></span>
        </div>

        <div class="inputBox">
            <label asp-for="CustomerAddress" class="textlabel"></label>
            <input asp-for="CustomerAddress" id="CustomerAddress" class="place" />
            <span asp-validation-for="@Model.CustomerAddress" class="error style=" display: none;"></span>
        </div>

        <div class="inputBox">
            <label asp-for="CustomerEmail" class="textlabel"></label>
            <input asp-for="CustomerEmail" id="Email" class="place" />
            <span asp-validation-for="@Model.CustomerEmail" class="error style="display: none;"></span>
        </div>

        <div class="inputBox">
            <label asp-for="CustomerPhone" class="textlabel"></label>
            <input asp-for="CustomerPhone" id="Phone" class="place" />
            <span asp-validation-for="@Model.CustomerPhone" class="error style=" display: none;"></span>
        </div>

        <div class="inputBox">
            <label for="CustomerSource" class="textlabel">مصدر العميل </label>
            <select asp-for="@Model.CustomerSource" id="CustomerSource" class="place">
                @{
                    var sources = new List<string> { "داخلي", "خارجي", "الجامعة" };
                    foreach (var source in sources)
                    {
                        if (source == Model.CustomerSource)
                        {
                            <option value="@source" selected>@source</option>
                        }
                        else
                        {
                            <option value="@source">@source</option>
                        }
                    }
                }
            </select>
            <span asp-validation-for="@Model.CustomerSource" class="error style=" display: none;"></span>
        </div>

        <div class="inputBox">
            <label asp-for="CustomerNotes" class="textlabel"></label>
            <input asp-for="CustomerNotes" id="Notes" class="place" />
            <span asp-validation-for="@Model.CustomerNotes" class="error style=" display: none;"></span>
        </div>


        <div class="inputBox">
            <label asp-for="@Model.Activated" class="textlabel"> </label>
            <select asp-for="@Model.Activated" id="options" class="place">
                @{
                    if (Model.Activated)
                    {
                        <option value="true" selected>مفعل</option>
                        <option value="false">غير مفعل</option>
                    }
                    else
                    {
                        <option value="false" selected>غير مفعل</option>
                        <option value="true">مفعل</option>
                    }
                }
            </select>
        </div>


        <div class="button-container">
            @* <input type="button" value="رجوع" onclick="history.back()" class="btn btn-secondary" /> *@
            <input type="submit" value="تعديل" class="btn btn-secondary" />
        </div>
    </form>
</div>


<script src="~/js/Technical/EditCustomer.js"></script>








