@{
    Layout = null;
}
@using ThothSystemVersion1.ViewModels

@model List<JobOrderCustEmpVM>


<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/Technical/viewAllJobOrder.css" rel="stylesheet" />
</head>
<div class="container">
    <div class="arrow">
        <a asp-controller="Admin" asp-action="AdminHome" class="back">
            <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
        </a>
    </div>
    <h1>الطلبيات</h1>
    <div class="btn">
        <a asp-action="CreateNewJobOrder" asp-controller="Technical" class="editBtn">اضافة</a>
    </div>
    <div class="search-container">
        <i class='bx bx-search search-icon'></i>
        <input type="text" id="searchInput" onkeyup="searchJobOrder()" placeholder="ابحث عن طلب...">
    </div>
    <div class="tableContainer">
        <table id="jobOrderTable">
            <tr>
                <th colspan="2">الإجراءات</th>
                <th>العميل</th>
                <th>حالة الطلب</th>
                <th>تاريخ الانتهاء</th>
                <th>تاريخ البدء</th>
            </tr>
            @{
                foreach (JobOrderCustEmpVM job in Model)
                {
                    <tr>
                        <td>
                             
                            <a asp-controller="Technical" asp-action="EditJobOrder" asp-route-JobOrderId="@job.JobOrderId" class="editBtn">تعديل</a>
                        </td>

                        <td>
                             @* <button class="editBtn" id="edijob" asp-action="showJobOrderSpecifications" asp-route-jobOrderId="@job.JobOrderId">اظهار التفاصيل</button> *@
                            <a class="editBtn" href="@Url.Action("showJobOrderSpecifications", new { jobOrderId = job.JobOrderId })">اظهار التفاصيل</a>

                        </td>
                        <td>@job.CustomerName</td>
                        <td>@job.OrderProgress</td>
                        <td>@job.EndDate</td>
                        <td>@job.StartDate</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
<script src="~/js/Technical/viewAllJobOrder.js">
</script>