@model ThothSystemVersion1.ViewModels.JobOrderSpecificationsViewModel

@{
    Layout = "~/Views/Shared/MinimalLayout.cshtml";

    ViewData["Title"] = "تفاصيل التشغيلة";
}
<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/Technical/showJobOrder.css" rel="stylesheet" />

</head>
<div class="container">
    <div class="arrow">
        <a asp-controller="technical" asp-action="technicalClerkHome" class="back">
            <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
        </a>
    </div>
    <h1>تفاصيل التشغيلة</h1>

    <!-- Job Order Details -->
    <div class="mainBox">
        <h2>بيانات التشغيلة</h2>
        <dl class="colCont1">
            <div class="row-style">
                <dd>@Model.JobOrderId</dd>
                <dt>@Html.DisplayNameFor(m => m.JobOrderId)</dt>

            </div>
            <div class="row-style">
                <dd>@Model.CustomerName</dd>
                <dt>@Html.DisplayNameFor(m => m.CustomerName)</dt>

            </div>

            <div class="row-style">
                <dd>@Model.UnearnedRevenue</dd>
                <dt>@Html.DisplayNameFor(m => m.UnearnedRevenue)</dt>

            </div>

            <div class="row-style">
                <dd>@Model.JobOrdernotes</dd>
                <dt>@Html.DisplayNameFor(m => m.JobOrdernotes)</dt>

            </div>

            <div class="row-style">
                <dd>@Model.RemainingAmount</dd>
                <dt>@Html.DisplayNameFor(m => m.RemainingAmount)</dt>

            </div>

            <div class="row-style">
                <dd>@Model.OrderProgress</dd>
                <dt>@Html.DisplayNameFor(m => m.OrderProgress)</dt>

            </div>

            <!-- You can add additional fields as needed -->
        </dl>
    </div>

    <!-- Employees Table -->
    <div class="mainBox">
        <h2>الموظفون</h2>
        <table>
            <thead>
                <tr>
                    <th>الدور الوظيفي</th>
                    <th>اسم الموظف</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.Employees != null && Model.Employees.Any())
                {
                    foreach (var employee in Model.Employees)
                    {
                        <tr>

                            <td>@employee.JobRole</td>
                            <td>@employee.EmployeeName</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>لا توجد بيانات</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Labours Table -->
    <div class="mainBox">
        <h2>العمليات</h2>
        <table>
            <thead>
                <tr>
                    <th>اسم العمليه</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Labours != null && Model.Labours.Any())
                {
                    foreach (var labour in Model.Labours)
                    {
                        <tr>
                            <td>@labour.LabourProcessName</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>لا توجد بيانات</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Machines Table -->
    <div class="mainBox">
        <h2>الآلات</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>اسم الآلة</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Machines != null && Model.Machines.Any())
                {
                    foreach (var machine in Model.Machines)
                    {
                        <tr>
                            <td>@machine.MachineProcessName</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>لا توجد بيانات</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.QuantityBridges?.Any() == true && Model.RequisiteId != null)
    {
        @* <h2>الكميات المسحوبة</h2> *@
        @* <table> *@
        @*     <thead> *@
        @*         <tr> *@
        @*             <th>الصنف </th> *@
        @*             <th>الكمية</th> *@
        @*             <th>السعر</th> *@
        @*             <!-- إضافة أعمدة أخرى حسب الحاجة --> *@
        @*         </tr> *@
        @*     </thead> *@
        @*     <tbody> *@

        @*         @foreach (QuantityBridge paper in Model.QuantityBridges) *@
        @*         { *@
        @*             <tr> *@


        @*                 @{ *@
        @*                     for (int i = 0; i < Model.Papers.Count; i++) *@

        @*                     { *@
        @*                         if (paper.PaperId == Model.Papers[i].PaperId) *@
        @*                         { *@
        @*                             <td>@Model.Papers[i].Name</td> *@
        @*                             <td>@paper.Quantity</td> *@
        @*                             <td>@paper.Price</td> *@
        @*                         } *@
        @*                     } *@
        @*                 } *@

        @*             </tr> *@
        @*         } *@
        @*         @foreach (QuantityBridge ink in Model.QuantityBridges) *@
        @*         { *@
        @*             <tr> *@


        @*                 @{ *@
        @*                     for (int i = 0; i < Model.Inks.Count; i++) *@

        @*                     { *@
        @*                         if (ink.InkId == Model.Inks[i].InkId) *@
        @*                         { *@
        @*                             <td>@Model.Inks[i].Name</td> *@
        @*                             <td>@ink.Quantity</td> *@
        @*                             <td>@ink.Price</td> *@
        @*                         } *@
        @*                     } *@
        @*                 } *@

        @*             </tr> *@
        @*         } *@

        @*         @foreach (QuantityBridge s in Model.QuantityBridges) *@
        @*         { *@
        @*             <tr> *@


        @*                 @{ *@
        @*                     for (int i = 0; i < Model.Supplies.Count; i++) *@

        @*                     { *@
        @*                         if (s.SuppliesId == Model.Supplies[i].SuppliesId) *@
        @*                         { *@
        @*                             <td>@Model.Supplies[i].Name</td> *@
        @*                             <td>@s.Quantity</td> *@
        @*                             <td>@s.Price</td> *@
        @*                         } *@
        @*                     } *@
        @*                 } *@

        @*             </tr> *@
        @*         } *@
        @*     </tbody> *@
        @* </table> *@
        <h2>الكميات المسحوبة</h2>

        <table>
            <thead>
                <tr>
                    <th>الكمية</th>
                    <th>السعر</th>
                    <th>الصنف</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var bridge in Model.QuantityBridges)
                {
                    string name = null;
                    int? quantity = null;
                    decimal? price = null;

                    foreach (var paper in Model.Papers)
                    {
                        if (bridge.PaperId == paper.PaperId)
                        {
                            name = paper.Name;
                            quantity = bridge.Quantity;
                            price = bridge.Price;
                            break;
                        }
                    }

                    if (name == null)
                    {
                        foreach (var ink in Model.Inks)
                        {
                            if (bridge.InkId == ink.InkId)
                            {
                                name = ink.Name;
                                quantity = bridge.Quantity;
                                price = bridge.Price;
                                break;
                            }
                        }
                    }

                    if (name == null)
                    {
                        foreach (var s in Model.Supplies)
                        {
                            if (bridge.SuppliesId == s.SuppliesId)
                            {
                                name = s.Name;
                                quantity = bridge.Quantity;
                                price = bridge.Price;
                                break;
                            }
                        }
                    }

                    if (name != null)
                    {
                        <tr>
                            <td>@quantity</td>
                            <td>@price</td>
                            <td>@name</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    }


    @if (Model.QuantityBridges?.Any() == true && Model.ReturnId != null)
    {
        @* <h2>الكميات المرتجعة</h2> *@
        @* <table> *@
        @*     <thead> *@
        @*         <tr> *@
        @*             <th> الصنف</th> *@
        @*             <th>الكمية</th> *@
        @*             <th>السعر</th> *@
        @*             <!-- إضافة أعمدة أخرى حسب الحاجة --> *@
        @*         </tr> *@
        @*     </thead> *@
        @*     <tbody> *@
        @*         @foreach (QuantityBridge paper in Model.QuantityBridges) *@
        @*         { *@
        @*             <tr> *@


        @*                 @{ *@
        @*                     for (int i = 0; i < Model.Papers.Count; i++) *@

        @*                     { *@
        @*                         if (paper.PaperId == Model.Papers[i].PaperId) *@
        @*                         { *@
        @*                             <td>@Model.Papers[i].Name</td> *@

        @*                             <td>@paper.Quantity</td> *@
        @*                             <td>@paper.Price</td> *@
        @*                         } *@
        @*                     } *@
        @*                 } *@

        @*             </tr> *@
        @*         } *@
        @*         @foreach (QuantityBridge ink in Model.QuantityBridges) *@
        @*         { *@
        @*             <tr> *@


        @*                 @{ *@
        @*                     for (int i = 0; i < Model.Inks.Count; i++) *@

        @*                     { *@
        @*                         if (ink.InkId == Model.Inks[i].InkId) *@
        @*                         { *@
        @*                             <td>@Model.Inks[i].Name</td> *@
        @*                             <td>@ink.Quantity</td> *@
        @*                             <td>@ink.Price</td> *@
        @*                         } *@
        @*                     } *@
        @*                 } *@

        @*             </tr> *@
        @*         } *@

        @*         @foreach (QuantityBridge s in Model.QuantityBridges) *@
        @*         { *@
        @*             <tr> *@


        @*                 @{ *@
        @*                     for (int i = 0; i < Model.Supplies.Count; i++) *@

        @*                     { *@
        @*                         if (s.SuppliesId == Model.Supplies[i].SuppliesId) *@
        @*                         { *@
        @*                             <td>@Model.Supplies[i].Name</td> *@
        @*                             <td>@s.Quantity</td> *@
        @*                             <td>@s.Price</td> *@
        @*                         } *@
        @*                     } *@
        @*                 } *@

        @*             </tr> *@
        @*         } *@
        @*     </tbody> *@
        @* </table> *@
        <h2>الكميات المرتجعة</h2>

        <table>
            <thead>
                <tr>
                    <th>الكمية</th>
                    <th>السعر</th>
                    <th>الصنف</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var bridge in Model.QuantityBridges)
                {
                    string name = null;
                    int? quantity = null;
                    decimal? price = null;

                    foreach (var paper in Model.Papers)
                    {
                        if (bridge.PaperId == paper.PaperId)
                        {
                            name = paper.Name;
                            quantity = bridge.Quantity;
                            price = bridge.Price;
                            break;
                        }
                    }

                    if (name == null)
                    {
                        foreach (var ink in Model.Inks)
                        {
                            if (bridge.InkId == ink.InkId)
                            {
                                name = ink.Name;
                                quantity = bridge.Quantity;
                                price = bridge.Price;
                                break;
                            }
                        }
                    }

                    if (name == null)
                    {
                        foreach (var s in Model.Supplies)
                        {
                            if (bridge.SuppliesId == s.SuppliesId)
                            {
                                name = s.Name;
                                quantity = bridge.Quantity;
                                price = bridge.Price;
                                break;
                            }
                        }
                    }

                    if (name != null)
                    {
                        <tr>
                            <td>@quantity</td>
                            <td>@price</td>
                            <td>@name</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    }

    @if (Model.ProcessBridges?.Any() == true)
    {
        <h2>العمليات المرتبطة</h2>
        <table>
            <thead>
                <tr>
                    <th>تكلفة الآلة</th>
                    <th>تكلفة العمالة</th>
                    <th>ساعات العمل</th>
                    <th>معرف العملية</th>

                    <!-- إضافة أعمدة أخرى حسب الحاجة -->
                </tr>
            </thead>
            <tbody>
                @foreach (var pb in Model.ProcessBridges)
                {
                    <tr>
                        <td>@pb.TotalMachineValue</td>
                        <td>@pb.TotalLabourValue</td>
                        <td>@pb.NumberOfHours</td>
                        <td>@pb.ProcessBridgeId</td>

                    </tr>
                }
            </tbody>
        </table>
    }
</div>