@{
    Layout = null;
}
@using ThothSystemVersion1.ViewModels
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{

    int jobRole = HttpContextAccessor.HttpContext.Session.GetInt32("JobRole") ?? 0;
    Console.WriteLine("JobRole: " + jobRole);
}

@model List<JobOrderCustEmpVM>


<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/Technical/viewAllJobOrder.css" rel="stylesheet" />
</head>
<div class="container">
    <div class="arrow">
        @{
            // admin
            if (jobRole == 0)
            {
                <a asp-controller="employee" asp-action="adminhome" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>

            } // Technical manager
            else if (jobRole == 3)
            {
                <a asp-controller="employee" asp-action="TechnicalManager" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>
            } // Technical Clerk
            else if (jobRole == 4)
            {
                <a asp-controller="employee" asp-action="TechnicalClerk" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>
            }


        }
    </div>
    <h1>الطلبيات</h1>

    <div class="search-container">
        <i class='bx bx-search search-icon'></i>
        <input type="text" id="searchInput" onkeyup="searchJobOrder()" placeholder="ابحث عن طلب...">
    </div>
    <div class="tableContainer">
        <table id="jobOrderTable">
            <tr>
                <th >الإجراءات</th>
                <th>حالة الطلب</th>
                <th>تاريخ الانتهاء</th>
                <th>تاريخ البدء</th>
                <th>العميل</th>

            </tr>
            @{
                foreach (JobOrderCustEmpVM job in Model)
                {
                            <tr>
                                @* <td>
                                     <button class="editBtn" id="edijob" onclick="editJobOrder('@job.JobOrderId')">تعديل</button>
                                 </td>
                                 *@

                                <td>
                            @* <button class="editBtn" id="edijob" asp-action="showJobOrderSpecifications" asp-route-jobOrderId="@job.JobOrderId">اظهار التفاصيل</button> *@
                                    <a class="editBtn" href="@Url.Action("showJobOrderSpecifications", new { jobOrderId = job.JobOrderId })">اظهار التفاصيل</a>

                                </td>
                                <td>@job.OrderProgress</td>
                                <td>@job.EndDate</td>
                                <td>@job.StartDate</td>
                        <td>@job.CustomerName</td>

                            </tr>
                }
            }
        </table>
    </div>
</div>
<script src="~/js/TechnicalClerk/viewAllJobOrder.js">
</script>