@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
}


@model Machine;

@{

    int jobRole = HttpContextAccessor.HttpContext.Session.GetInt32("JobRole") ?? 0;
    Console.WriteLine("JobRole: " + jobRole);
}



<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Home.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/jpeg" href="~/image/eye.jpg" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/Cost/AddMachine.css" rel="stylesheet" />
    <title>ThoTh</title>
</head>


<div class="container">
    <div class="arrow">
        @{
            // admin
            if (jobRole == 0)
            {
                <a asp-controller="employee" asp-action="adminhome" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>

            } // Cost manager
            else if (jobRole == 5)
            {
                <a asp-controller="employee" asp-action="CostManager" class="back">
                    <i class='bx bx-left-arrow-circle' style="font-size: 40px; color: white;"></i>
                </a>
            }


        }
    </div>


    <form asp-action="AddMachine" id="myform" enctype="multipart/form-data" method="post">
        @* Success and Error Messages *@
        @if (TempData["Success"] != null)
        {
            <div class="notification success">
                <div class="notification-content">
                    <i class='bx bx-check-circle'></i> @TempData["Success"]

                </div>
                <input type="hidden" id="tempDataSuccess" value="true" />
                <div class="progress-bar success"></div>
            </div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="notification error">
                <div class="notification-content">
                    <i class='bx bx-error-circle'></i>
                    <span>@TempData["Error"]</span>
                </div>
                <input type="hidden" id="tempDataSuccess" value="false" />

                <div class="progress-bar error"></div>

            </div>
        }
        <input type="hidden" id="hdnJobRole" value="@jobRole" />
        <div asp-validation-summary="ModelOnly" class="error"></div>

        <div class="text">
            <h1>إضافة اله جديدة</h1>
        </div>

        <div class="inputBox">
            <label for="Name">اسم الاله</label>
            <input type="text" asp-for="@Model.MachineProcessName" id="Name" />
            <span asp-validation-for="@Model.MachineProcessName" class="error"></span>
        </div>

        <div class="inputBox">
            <label for="Price">سعر الاله</label>
            <input type="number" step="any" asp-for="@Model.Price" id="Price" />
            <span asp-validation-for="@Model.Price" class="error"></span>
        </div>

        <div class="buttons">
            <div class="Add">
                <input type="submit" value="تأكيد الإضافة " class="Add" />
            </div>

            <div class="reset">
                <input type="reset" value="إعادة إدخال" class="btnReset" />
            </div>
        </div>

    </form>
</div>
<script src="~/js/Cost/AddMachine.js"></script>
