@model Employee;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{

    int jobRole = HttpContextAccessor.HttpContext.Session.GetInt32("JobRole") ?? 0;
    string employeeName = HttpContextAccessor.HttpContext.Session.GetString("EmployeeName") ?? "Unknown";
    string employeeId = HttpContextAccessor.HttpContext.Session.GetString("EmployeeID") ?? "Unknown";
    Console.WriteLine("JobRole: " + jobRole);
    Console.WriteLine("EmployeeName: " + employeeName);
    Console.WriteLine("EmployeeId: " + employeeId);
}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/image/eye.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="@Url.Content("~/css/LogIn.css")" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/photos/eye.jpg")" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/image/eye.jpg" />

    <link href="@Url.Content("~/css/Admin/adminHome.css")" rel="stylesheet" />

    <link rel="icon"
          type="image/jpeg"
          href="~/image/eye.jpg"
          asp-append-version="true" />

</head>
<body>

    <div class="sidebar">
        <ul class="dropdown">
        <li onclick="toggleDropdown(this)">
            الحسابات
            <ul>
                <li>@Html.ActionLink("طلب استلام اموال", "viewJobOrderWithRemainingAmount", "accounting")</li>
                <li>@Html.ActionLink("طلب دفع اموال", "viewPurchaseOrderdsWithRemainingAmount", "Accounting")</li>
                    <li>@Html.ActionLink("تعديل حسابات الطلبية", "viewJobOrderWithCost", "Accounting")</li>
            </ul>
        </li>
        </ul>
        <div class="button">
            @Html.ActionLink("تسجيل الخروج", "Logout", "Employee", null, new { @class = "btnBack" })
        </div>
    </div>

    <div class="container">
        <h1>تحوت يتمني لك يوم سعيد</h1>
        <h1>
            مرحبا يا : @{
                @Html.Raw(HttpContextAccessor.HttpContext.Session.GetString("EmployeeName"))
            }
        </h1>
        <p>يهدف نظام تحوت إلى تحسين كفاءة العمل في المطبعة من خلال توفير الوقت والجهد للموظفين</p>
        <p>مما يضمن إنتاجًا عالي الجودة بأعلى مستويات الدقة والكفاءة</p>
    </div>
    <script src="@Url.Content("~/js/Admin/adminHome.js")"></script>
</body>

</html>
