@model ThothSystemVersion1.Models.JobOrder

@{
    ViewData["Title"] = "makeReceipt";
}

<h1>makeReceipt</h1>

<div>
    <h4>JobOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobOrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobOrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemainingAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemainingAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnearnedRevenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnearnedRevenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobOrdernotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobOrdernotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarnedRevenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarnedRevenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderProgress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderProgress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
    </dl>
</div>

<form action="makeReceipt" method="post">
    



</form>
