@using ThothSystemVersion1.ViewModels

@model List<PaymentPurchaseOrderVM>

@{
    ViewData["Title"] = "viewPurchaseOrderdsWithRemainingAmount";
}
@{
    Layout = null;
}

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/Technical/viewAllJobOrder.css" rel="stylesheet" />
</head>
<div class="container">
   
    <h1>اوامر الشراء</h1>

    <div class="tableContainer">
        <table id="jobOrderTable">
            <tr>
                <th colspan="2">الإجراءات</th>
                <th>المورد</th>
                <th>مبلغ مدفوع</th>
                <th>مبلغ متبقي</th>
                <th>تاريخ الشراء</th>
                <th>الموظف القائم بالعملية</th>

            </tr>
            @{
                foreach (PaymentPurchaseOrderVM pay in Model.OrderByDescending(j => j.PurchaseDate))
                {
                    <tr>
                        <td>
                            <a asp-controller="Accounting" asp-action="makePayment" asp-route-purchaseID="@pay.PurchaseId" class="editBtn">طلب دفع اموال</a>
                        </td>
                        <td></td>
                        <td>@pay.VendorName</td>
                        <td>@pay.PaidAmount</td>
                        <td>@pay.RemainingAmount</td>
                        <td>@pay.PurchaseDate</td>
                        <td>@pay.EmployeeName</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>